.env
xpu_env

__pycache__
*_solution.*
*-solution.*
*_sol.*
*-sol.*
WORK_*

tb_logs*

~$*
*.swp
video_*

# Git recorder at all
gymnasium_display_recorder.py
!common/gymnasium_display_recorder.py
tictactoe.py
!common/tictactoe.py
